        <div>
            <div>
                <a href="/">Express Movies</a>
                &nbsp;
                <a href="/movies">Films</a>
                &nbsp;
                <a href="/movie-search">Rechercher</a>
                &nbsp;
                <span id="connectionLink"></span>
            </div>
        </div>